body {
  font-family: "Maven Pro", sans-serif;
  background-image: url("images/bkimage.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  height: auto;
  width: auto;
  background-color: rgb(179, 178, 176, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

label {
  padding: 5px;
  display: inline;
}

input[type="text"] {
  font-family: "Maven Pro", sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-color: #fff;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
}

input[type="button"] {
  font-family: "Maven Pro", sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 20px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}

#select {
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-color: #fff;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
  height: 50%;
  width: 50%;
  padding: 16px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #fff;
}

.contacts-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.contacts {
  font-family: "Maven Pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  margin: 5px;
}
